$font-stack: "Roboto", sans-serif;

$colors: (
  "bgr-grey": rgba(255, 255, 255, 1),
  "light-grey": lightgrey,
  "completed": grey,
  "dark-blue": navy,
  "dark": #15151b,
  "custom-white": rgb(236, 232, 232),
  "custom-red": rgb(179, 7, 7)
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$breakpoints: (
  "extrasmall": 415px
);

@function size($breakpoint) {
  @return map-get($breakpoints, $breakpoint);
}

@mixin respond-to($size) {
  @media only screen and (min-width: #{$size}) {
    @content;
  }
}

$paddings: (
  "side": 1.5rem,
  "top-btm": 0.3rem
);

@function pad($padding-val) {
  @return map-get($paddings, $padding-val);
}

$list-width: 360px;
$footer-height: 4rem;

@mixin bgrGradient() {
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(47%, rgba(246, 246, 246, 1)),
    color-stop(100%, rgba(237, 237, 237, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(237, 237, 237, 1) 100%
  );

  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(237, 237, 237, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

@mixin listBoxShadow() {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}

body {
  font-family: $font-stack;
  background: color(bgr-grey);
  @include bgrGradient;

  .footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: $footer-height;
    text-align: center;
    font-weight: normal;
    font-size: 0.8rem;
    background-color: aqua;
  }
}

.page-container {
  position: relative;
  min-height: 100vh;

  .content-wrapper {
    background-color: color(light-grey);
    width: 100%;
    padding-bottom: $footer-height;
    margin: 0 auto;
    @include listBoxShadow;
    @include respond-to(size(extrasmall)) {
      width: $list-width;
      margin: 100px auto 0 auto;
    }

    .list-header {
      background-color: color(dark-blue);
      padding-left: pad(side);
      padding-top: pad(top-btm);
      padding-bottom: pad(top-btm);

      &__title {
        color: color(custom-white);
        text-transform: uppercase;
        font-weight: 700;
      }
      .fa-plus-circle {
        float: right;
        color: color(custom-white);
        padding-right: pad(side);
        padding-top: pad(top-btm)-0.1;
      }
    }

    .new-todo {
      box-sizing: border-box;
      border: none;
      padding: pad(top-btm) pad(side);
      width: 100%;
      outline: 0;
    }

    .new-todo:focus {
      border: 3px solid color(dark-blue);
    }

    .list {
      list-style: none;
      padding-left: pad(side);
      padding-top: pad(top-btm);

      .fa-trash {
        color: color(custom-white);
        background: color(custom-red);
        width: 20px;
        height: 20px;
        text-align: center;
        padding: 6px;
        margin-right: pad(side) / 2;
        // opacity: 1;
      }

      /* .fa-trash:hover {
        transition: 2s;
        opacity: 0;
      } */

      &__item {
        padding-top: pad(top-btm);
        padding-bottom: pad(top-btm);
      }

      &__item:hover {
        // transition: 0.3s;
        font-weight: 800;
      }
    }
  }
}

.completed {
  text-decoration: line-through;
  color: color("completed");
}
